@charset "utf-8";
/* CSS Document */

#header_area {background: none repeat scroll 0 0 #FFF; width:100%; z-index:999; position:fixed; top:0; left:0; alpha(opacity=70);-moz-opacity:0.7; -khtml-opacity: 0.7; opacity: 0.7; }
#header_area img { width:50px; height:50px; border-radius:50%; margin:10px; }
#header_area ul { list-style:none; height:70px; text-align:center; }
#header_area ul li {display:inline-block; font-family:'Microsoft Yahei', 宋体, arial, 'Hiragino Sans GB', Helvetica; line-height:70px; color:#39F; font-size:20px; padding-right:20px; letter-spacing:5px; font-weight:400;}
#header_area ul li a{ text-decoration:none; }
#header_area ul li a:hover{ color:#F60;}



.slide-text {display: table-cell;vertical-align: middle}
.slide-bg {height: 100%; left: 0; position: absolute; top: 0; width: 100%; background-position: center;background-size: cover}
.slide-one {background-image: url(../images/1088794.jpg); }
.slide-two {background-image: url(../images/1245095.jpg);}
.slider-area #slide-list .slide-bulletz .carousel-indicators {position:absolute; top:500px;}
.slide-content {position:relative;padding: 30px}
.slide-content {margin:250px 250px; }
.cycle_item { width: 400px; height: 400px; margin-left: auto; margin-right: auto; position: relative; background:url(../images/cycle.svg) no-repeat; bottom:50px; }
.green_cycle {width: 260px; height: 260px; margin: 0 auto; position:absolute; top:70px; left:70px; }
.yellow_cycle {position:relative; top:-250px;}
.blue_cycle {position:relative; top:-232px; margin-left:5px; }
.head_img_div {position:relative; top:-210px; }
.head_img_div img {width:200px; height:200px; border-radius:50%; border: 3px solid pink;
-webkit-animation: headneon 1.5s ease-in-out infinite alternate;
-moz-animation: headneon 1.5s ease-in-out infinite alternate;
animation: headneon 1.5s ease-in-out infinite alternate; }
@-webkit-keyframes headneon {
    from {
        box-shadow: 0 0 1px #fff,
                    0 0 2px #fff,
                    0 0 3px #fff,
                    0 0 4px #fff;
    }
    to {
        box-shadow: 0 0 5px #fff,
                    0 0 10px #fff,
                    0 0 15px #fff,
                    0 0 20px #fff;
    }
}

@-moz-keyframes headneon {
    from {
        box-shadow: 0 0 1px #fff,
                    0 0 2px #fff,
                    0 0 3px #fff,
                    0 0 4px #fff;
    }
    to {
        box-shadow: 0 0 5px #fff,
                    0 0 10px #fff,
                    0 0 15px #fff,
                    0 0 20px #fff;
    }
}

.green_cycle_img{
    animation-name: clockwise;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    /*safari & Chrome */
    -webkit-animation-name:clockwise;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}

.yellow_cycle_img{
    animation-name: anticlockwise;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    /*safari & Chrome */
    -webkit-animation-name:anticlockwise;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}

.blue_cycle_img{
    animation-name: clockwise;
    animation-duration:1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;

    /*safari & Chrome */
    -webkit-animation-name:clockwise;
    -webkit-animation-duration:1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
}

@keyframes clockwise{
    from {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes clockwise{
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}

@keyframes anticlockwise{
    from {
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        -webkit-transform:rotate(-360deg);
        -moz-transform:rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
    }
}

@-webkit-keyframes anticlockwise{
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(-360deg);
    }
}

#weibo_a { position:absolute; right:-35px; top:150px; background-color: #EAC251; text-decoration:none; z-index:2; border-radius: 25px}
#weibo_a .weibo_icon {width: 50px; height: 50px; position: relative; background: url(../images/weibo.png); background-size: cover; float:left; left:5px;}
.weibo_text {line-height:25px; letter-spacing:3px; color:#FFF; font-weight:bold; float:left; padding-top:15px; padding-left:10px; padding-right:5px; }
.weibo_text p {font-family: 'Microsoft Yahei', 宋体, arial, 'Hiragino Sans GB', Helvetica; font-size:16px; }

#after-area {     
    -webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-ms-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
	margin-top:300px;
	position:relative;
	top:-170px;
}
.book {
        width: 300px;
        height: 300px;
        margin-top: -150px;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: rotateX(60deg);
        -moz-transform: rotateX(60deg);
        -ms-transform: rotateX(60deg);
        -o-transform: rotateX(60deg);
        transform: rotateX(60deg);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
.page {
	width: 300px;
	height: 300px;
	padding: 1em;
	position: absolute;
	left: 0;
	top: 0;
	text-indent: 2em;
}
.front {
	background:url(../images/MAKEUP_20160723133815_save.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
}
.back {
	background-color:#F90;
}
.front-cover {
	cursor: move;
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.front-cover .back {
	background-image:url(../images/1159710.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size:cover;
	-webkit-transform: translateZ(3px);
	-moz-transform: translateZ(3px);
	-ms-transform: translateZ(3px);
	-o-transform: translateZ(3px);
	transform: translateZ(3px);
}
.back-cover .back {
        -webkit-transform: translateZ(-3px);
        -moz-transform: translateZ(-3px);
        -ms-transform: translateZ(-3px);
        -o-transform: translateZ(-3px);
        transform: translateZ(-3px); 
		box-shadow:10px 10px 10px #666666;
    }
.bottom-front{
	background-image:url(../images/1475504018915s.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size:cover;
}
.p3d {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.flip {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.front-cover p {
	font-family:'Microsoft Yahei', 宋体, arial, 'Hiragino Sans GB', Helvetica; 
	line-height:70px; 
	color:#F36;
	font-size:40px;
	text-align:center;
}